body {
  background: rgb(0, 0, 255)
}

h1 {
  color: rgb(0, 175, 255);
  font-size:150px;
  margin-left: 150px;
}

p {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 100, 0);
  font-size: 50px;
  font-style: italic;
  border-color: rgb(255, 255, 255);
  border-width: 7px;
  border-radius: 1000px;
  border-style:double;
  padding: 15px;
  margin-left: 550px;
  width: 210px;
}
